
/* 
.your-element {
    position: relative;
    z-index: 1;
     border-bottom: 10px solid pink;
    margin: 0;
    padding: 0;
} */

.my-img {
    height: 30rem;
    position: absolute;
    left: 6%;
    top: 20%;
    margin-right: 20px;
    border-radius: 20%;


}

#heading {
    text-align: center;
    margin: 50px;
    font-size:3rem;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#about-section {

    position: absolute;
    top: 10%;
    right: 8%;
    width: 50%;
}

.paragraph {
    font-size:20px;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  font-variation-settings:
    "slnt" 0;
    margin-bottom: 20%;
}

#back-button {
    position: relative;
    bottom: 10px;
    left: 50%;
    border-radius: 10%;
   margin-top: 20px;
    background-color: orangered;
}

#back-button:hover {
background-color: white;
cursor: pointer;
} 