.contact-heading {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.txt-section {
  padding: 5%;
}

.contact-img {
  height: 500px;
  width: 300px;
}
