#complete {
    position:relative;
    border: 50px solid pink;
    padding-bottom: 70px;
}

.heading {
    position: relative;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color: orangered;
   
}

.imgchess {
    height: 48%;
}

#back-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    border: none;
    border-radius: 10%;
    margin-top: 20%;
    background-color: orangered;
}

#back-button:hover {
background-color: white;
} 

